.resizable-image {
    resize: both;
    overflow: auto;
  }
  .ProseMirror:focus {
    outline: none;
  }
/* Resizable images */
.resizable-image {
    resize: both;
    overflow: auto;
    max-width: 100%;
    cursor: pointer;
  }
  
  /* Image alignment */
  img[style*="float: left"] {
    float: left;
    margin-right: 10px;
  }
  
  img[style*="float: right"] {
    float: right;
    margin-left: 10px;
  }
  
  img[style*="margin-left: auto"] {
    display: block;
    margin: 0 auto;
  }  
  
/* Parent container */
.editor-container {
    position: relative;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    resize: vertical; /* Allow vertical resizing */
    min-height: 200px; /* Set a minimum height */
    height: 300px; /* Default height */
    overflow-y: auto;
  }

  
  /* Ensure the editor fills the parent container */
  .ProseMirror {
    min-height: 275px !important;
    height: 100%; /* Fill the parent container */
    padding: 10px; /* Optional: Add padding for better spacing */
    outline: none; /* Remove focus outline */
    border: none;
  }

  .ProseMirror:focus-visible {
    outline: none!important;
    border: none!important;
  }
  
  .resizable-image {
    max-width: 100%;
    height: auto;
    display: block;
    cursor: grab;
    border: 1px dashed #ccc;
    resize: both;
    overflow: hidden;
  }
  