@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri&family=Almarai&family=Aref+Ruqaa&family=El+Messiri&family=Reem+Kufi&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;



@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
 
html {
  @apply font-cairo; /* Apply the Cairo font as the default */
}
body {
    position: relative;
    background: #EEF8FE;
}
.hoverBox {
    background: #398AB7;
}
.titleBox {
    width: fit-content;
    background: #398AB7;
    padding: 10px 30px;
    border-radius: 4px;
    font-weight: bold;
    color: #fff;
}



.bkBox {
 background: #F5F3ED; 
}
.primaryColor {
    color: #9F854E; 
}
.mainColor {
    color: #424C61; 
}
.bkMainColor {
    background: #424C61;
}
.bkPrimaryColor{
    background: #398AB7;
}
.bkColor{
    background : #F5F3ED;
} 
.bkNone{
    background : rgb(255 255 255 / 10%)
}
.grdianBK{
    background: radial-gradient(circle, #add8e6 20%, #fff 60%);
}