@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri&family=Almarai&family=Aref+Ruqaa&family=El+Messiri&family=Reem+Kufi&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
 
html {
  @apply font-cairo; /* Apply the Cairo font as the default */
}
body {
    position: relative;
    /* background: #EEF8FE; */
    background: radial-gradient(circle, #add8e6 30%, #fff 100%);
}
.hoverBox {
    background: #398AB7;
}
.mainColor {
    color: #398AB7; 
}
.bkMainColor {
    background: #398AB7;
}
.titleBox {
    width: fit-content;
    background: #398AB7;
    padding: 10px 30px;
    border-radius: 4px;
    font-weight: bold;
    color: #fff;
}
.personalDrop {
    font-weight: bold!important;
    color: #398AB7!important;
    font-family: cairo!important;
    font-size: 12px!important;
}
.personalDrop:hover {
    background-color: #398AB7!important;
    color: #fff!important;
}
.userDropDown .ant-dropdown-menu{
    padding: 10px 5px!important;
}
.font-cairo {
    font-family: Cairo, sans-serif!important;
}
.customBtn {
    color: #fff!important;
    display: block!important;
    background-color: #398AB7!important;
    font-weight: bold!important;
}
.bold {
    font-weight: bold!important;
}
.btn-success {
    background-color: #30a512!important;
    color: #fff!important;
    font-weight: bold!important;
}
.btn-success:hover {
   
    border-color:none!important
}
.bkBox {
 background: #F5F3ED; 
}
.primaryColor {
    color: #8b8b8b; 
}


.bkPrimaryColor{
    background: #398AB7;
}
.bkColor{
    background : #F5F3ED;
} 
.bkNone{
    background : rgb(255 255 255 / 10%)
}
.grdianBK{
    background: radial-gradient(circle, #add8e6 20%, #fff 60%);
}